# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Step 1 - Checkout master branch
      uses: actions/checkout@v2
      
    - name: Step 2 - Set up JDK 16
      uses: actions/setup-java@v2
      with:
        java-version: '15'
        distribution: 'adopt'
        
    - name: Step 3 - Clean and Compile Maven Project
      run: mvn -B clean compile --file pom.xml
      
    - name: Step 4 - List Directory
      run: ls -a
    
    - name: Step 5 - Target Folder Peak
      run: 
          cd target
          ls -a
